/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,th,h2,.bold-text{
  font-weight: bold;
}

body {
  margin: 33px;
}

.text-box {
  margin-left: 40px;
}
.text {
  margin: 30px;
}

.success-text {
  color: lime;
}

td {
   width:200px;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.error-count {
  color: red;
  font-weight: bold;
}

li{
  color: red;
}

.title-box {
  display: flex;
  align-items: center;
  margin: 30px;
}

.body-box {
  display: flex;
  align-items: center;
  margin: 30px;
}

.link {
  margin-top: 10px;
}